@import "../styles/_vars.scss";
#clock {
  padding-top: 70px;
  //font: inherit;
  font-weight: bold;
  text-align: center;
  height: 2em;
  font-size: 2.3em;
  opacity: .85;
  margin-bottom: -111px;
  font-family: Arial, fantasy;
}

