@import "vars";

// Jerome - base should style the html and body of the website
.google {
  background-color: #CB3F22;
}

.google div{
  background-color: #CB3F22;
}

.google svg {
  background-color: #CB3F22;
}

