@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
$background-color: #eeeeee;
$pane-color: #E1E2E4;
$search:#979797;
$text-color: #000000;
$darker:#666666;
$blue:#0088cc;
$font:'Comfortaa', cursive;
